In [11]:
import pandas as pd
pd.options.display.float_format = '{:,.4f}'.format
pd.options.display.max_rows = 100
pd.options.display.max_columns = 40
import os

# Warnings
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

In [4]:
def check_NA(df):
    print(f"NA check")
    NA_res = df.isna().sum()
    if NA_res.sum() != 0:
        for idx, i in enumerate(NA_res):
            if i != 0:
                print(df.columns[idx],i,"->",round(i/df.shape[0]*100,3),"%")
    else:
        print("...There's no NA")

In [5]:
fielapath = "./data"
dd = read_file(os.path.join(filepath,"final_merged_by_day.,csv"))
dd_7_8 read_file(os.path.join(filepath,"merged_by_day_7_8.csv"))

# 태풍 데이터 
## 수집과 함께 기존 데이터에 병합 A-4. 참고

# 기상 데이터 
## 기존 데이터에 병합

In [ ]:
weather_final = pd.read_csv(os.path.join(filepath, 'weather_preprocessed.csv'))

In [125]:
dd = dd.drop(['강수','기온', '습도','풍속'], axis=1)
dd_78 = dd_78.drop(['강수','기온', '습도','풍속'], axis=1)
dd = pd.merge(dd, weather_final, on=['base_date','emd_nm'], how="left")
dd_78 = pd.merge(dd_78, weather_final, on=['base_date','emd_nm'], how="left")

# 검색량 데이터
## 기존 데이터에 병합

In [8]:
dd = dd.drop(['읍면동별검색_관광',
       '검색_제주도', '검색_코로나', '검색_코로나백신', '검색_코로나동선', '검색_코로나지원금', '검색_날씨',
       '검색_폭우', '검색_태풍', '검색_비', '검색_보건소', '검색_약국', '읍면동별검색_날씨', '읍면동별검색_태풍'], axis=1)

dd_78 = dd_78.drop(['읍면동별검색_관광',
       '검색_제주도', '검색_코로나', '검색_코로나백신', '검색_코로나동선', '검색_코로나지원금', '검색_날씨',
       '검색_폭우', '검색_태풍', '검색_비', '검색_보건소', '검색_약국', '읍면동별검색_날씨', '읍면동별검색_태풍'], axis=1)

In [9]:
filepath = "./data/search"

# 제주 전체 키워드 병합
df_tmp = pd.read_csv(os.path.join(filepath, '검색.csv'))
df_tmp['검색_관광'] = df_tmp['검색_관광']+df_tmp['검색_관광2']
df_tmp['검색_쓰레기'] = df_tmp['검색_쓰레기']+df_tmp['검색_쓰레기2']
df_tmp = df_tmp.drop(['검색_관광2','검색_쓰레기2'],axis=1)
df_tmp['검색_관광'] = df_tmp['검색_관광']/np.max(df_tmp['검색_관광'])*100
df_tmp['검색_쓰레기'] = df_tmp['검색_쓰레기']/np.max(df_tmp['검색_쓰레기'])*100

# 병합
dd = pd.merge(dd, df_tmp, on=['base_date'], how="left")
dd_78 = pd.merge(dd_78, df_tmp, on=['base_date'], how="left")
print(dd.shape, dd_78.shape)

(49609, 74) (2542, 35)

In [10]:
# 읍면동별 키워드 검색 결과
for col in 읍면동별_dic.keys():
    df = pd.read_csv(os.path.join(filepath, col+".csv"))
    df_tmp = pd.melt(df, id_vars="base_date")
    df_tmp.columns = ['base_date','emd_nm',col]
    
    # 병합
    dd = pd.merge(dd, df_tmp, on=['base_date','emd_nm'], how="left")
    dd_78 = pd.merge(dd_78, df_tmp, on=['base_date','emd_nm'], how="left")
    print(dd.shape, dd_78.shape)

(49609, 75) (2542, 36)
(49609, 76) (2542, 37)
(49609, 77) (2542, 38)

# 미세먼지 데이터

In [97]:
mm = pd.read_csv(os.path.join(filepath, "미세먼지.csv"))
df =  pd.read_csv(os.path.join(filepath, "final_merged_by_day_ver3.csv"))

In [98]:
mm.base_date = pd.to_datetime(mm.base_date)
df.base_date = pd.to_datetime(df.base_date)

In [100]:
region_ = {'남원읍': ['남원읍', '동홍동', '성산읍'], 
           '대륜동': ['동홍동'], '대정읍': ['한경면', '대정읍'], 
           '대천동': ['동홍동'], '동홍동': ['동홍동'], '서홍동': ['동홍동'], '성산읍': ['성산읍'], 
           '송산동': ['동홍동'], '안덕면':['한경면'], '영천동': ['동홍동'], '예래동': ['동홍동'], 
           '정방동': ['동홍동'], '중문동': ['동홍동'],  '중앙동': ['동홍동'],  '천지동':['동홍동'], 
           '표선면': ['성산읍'], '효돈동':['동홍동'], '건입동':['이도동','연동'], '노형동':['노형동','연동'], 
           '도두동':['연동'],  '봉개동':['조천읍','연동'],  '삼도1동':['연동'], '삼도2동':['연동'], '삼양동':['이도동','연동'], 
           '아라동':['연동'],   '애월읍':['한림읍','연동'],  
           '연동':['연동'],  '오라동':['연동'], 
           '외도동':['연동'],  '용담1동':['연동'], 
           '용담2동':['연동'],            '이도1동': ['이도동','연동'],  
           '이도2동': ['이도동','연동'],            '이호동':['연동'], 
           '일도1동': ['연동'],            '일도2동': ['연동'], 
           '화북동': ['연동'],           '조천읍':['조천읍', '성산읍'], 
           '구좌읍':['조천읍', '성산읍'],           '한림읍':['한림읍','한경면'],            '한경면':['한경면']
          }

In [93]:
df["미세먼지"]=np.nan

In [101]:
for i in df.base_date.unique():
    for key in region_.keys():
        tmp = mm[mm.base_date == i]
        for j in range(0, len(region_[key])): 
            tp = tmp.loc[tmp.emd_nm==region_[key][j]]
            if len(tp)>0: break
        if len(tp)==0: break
        df.loc[(df.base_date==i)&(df.emd_nm==key), "미세먼지"]= tp.미세먼지.values[0]

In [106]:
# df[df.미세먼지.isna()] # 20년 2월 29일

In [107]:
df= df.fillna(method='ffill')

In [111]:
M_train = df[["emd_nm", "city","base_date", "미세먼지"]]

In [112]:
M_train.to_csv(os.path.join("미세먼지&emdnm&basedate.csv"), index=False)

In [113]:
df_78 =  pd.read_csv(os.path.join("final_merged_by_day_7_8_ver3.csv"))

In [114]:
df_78["미세먼지"]=np.nan

In [115]:
for i in df_78.base_date.unique():
    for key in region_.keys():
        tmp = mm[mm.base_date == i]
        for j in range(0, len(region_[key])): 
            tp = tmp.loc[tmp.emd_nm==region_[key][j]]
            if len(tp)>0: break
        if len(tp)==0: break
        df_78.loc[(df_78.base_date==i)&(df_78.emd_nm==key), "미세먼지"]= tp.미세먼지.values[0]

In [118]:
M_test = df_78[["emd_nm", "base_date", "미세먼지"]]

In [119]:
M_test.to_csv(os.path.join("78_미세먼지&emd_nm&base_date.csv"), index=False)

## 기존 데이터에 병합

In [128]:
md = pd.read_csv(os.path.join(filepath,'미세먼지.csv'))
md_78 = pd.read_csv(os.path.join(filepath,'78_미세먼지.csv'))
del md['city']

In [129]:
dd = pd.merge(dd, md, on=['base_date','emd_nm'], how="left")
dd_78 = pd.merge(dd_78, md_78, on=['base_date','emd_nm'], how="left")

# 입도객 데이터
## 기존 데이터에 병합

In [1]:
# 세대수 merge
fam = pd.read_csv(os.path.join('세대수_및_세대당인구.csv'))
df = pd.merge(df, fam, on = ['year','month','emd_nm'],how = 'left')


# 면적 merge
area = pd.read_excel(os.path.join("house_pop_2019.xlsx"))
area = area.iloc[:,[1,16]]
area = area.rename(columns ={"읍면동":"emd_nm","면적(km²)":"area"})
df = pd.merge(df,area, on = "emd_nm", how = "left")
df["popdens"] = df["total_resid_pop"]/df["area"]

dd = pd.merge(dd, df, on=['base_date','emd_nm'], how="left")
dd_78 = pd.merge(dd_78, df, on=['base_date','emd_nm'], how="left")

# 연령별 거주인구 데이터
## 기존 데이터에 병합

In [24]:
jj= read_file(os.path.join(filepath,"제주도_월별_연령별 인구.csv"))
df1= read_file(os.path.join(filepath,"merged_by_day_new.csv"))
df2= read_file(os.path.join(filepath,"merged_by_7_8_v2.csv"))

In [25]:
df1.index = pd.to_datetime(df1.base_date)
df1["year_month"]= df1.index.to_period("M")
df1["year_month"] = df1.year_month.astype('str')
df1= df1.reset_index(drop=True)
df1 = df1.drop(["year", "month"], axis=1)

In [26]:
print(set(df1.emd_nm.unique())-set(jj.emd_nm.unique()))
print(set(jj.emd_nm.unique())-set(df1.emd_nm.unique()))

set()
set()

In [27]:
jj.columns

Index(['연령0020', '연령2030', '연령3040', '연령4060', '연령60이상', 'emd_nm',
       'year_month'],
      dtype='object')

In [28]:
df_m= pd.merge(df1, jj, on=["year_month", "emd_nm"], how = 'left')
df_m= df_m[["base_date", "emd_nm", '연령0020', '연령2030', '연령3040', '연령4060', '연령60이상']]

In [29]:
df2.index = pd.to_datetime(df2.base_date)
df2["year_month"]= df2.index.to_period("M")
df2["year_month"] = df2.year_month.astype('str')
df2= df2.reset_index(drop=True)

In [30]:
df_78= pd.merge(df2, jj, on=["year_month", "emd_nm"], how = 'left')
df_78= df_78[["base_date", "emd_nm", '연령0020', '연령2030', '연령3040', '연령4060', '연령60이상']]

In [16]:
df_m.to_csv("제주도_연령대별인구.csv")
df_78.to_csv("제주도_연령대별인구_78.csv")

# 미세먼지 데이터 기존 데이터에 병합

In [18]:
base_col = ['base_date', 'emd_nm', 'pay_amt', 'em_g', 'em_cnt','city','cluster']

time_col = ['holidays']

pop_col = ['korean_resd_pop', 'foreign_resd_pop', 'total_resd_pop','foreign_resd_ratio',
           'fam', 'pop_per_fam', 'popdens']
        
pop_col_korean = ['resd_pop_cnt', 'work_pop_jeju', 'work_pop_etc', 'visit_pop_jeju','visit_pop_etc','vpc_daytm_rt']

pop_col_foreign = ['visit_short','CHN_short', 'JPN_short', 'USA_short', 'CHN_ratio_short','NotCHN_short', 
                   'resd_jeju','country_1_all_jeju','country_2_resd_jeju', 'country_2_visit_jeju', 'country_3_resd_jeju',
                   'country_4_resd_jeju', 'country_7_all_jeju', 'country_3_all_etc']

weather_col = ['강수','기온','습도','풍속','태풍','미세먼지']

card_col = ['all_cnt','유형1_cnt', '유형1_amt',  '유형2_cnt', '유형2_amt',  '유형3_cnt',
            '유형3_amt', '농축수산물_cnt', '농축수산물_amt','배달_cnt', '배달_amt', 
            '배달_ratio','유형1_ratio','유형2_ratio','유형3_ratio', '농축수산물_ratio']

search_col = ['검색_관광', '검색_쇼핑', '검색_쓰레기', '검색_한파', '검색_강풍', '검색_태풍', '검색_장마', '검색_폭염',
               '검색_우박', '검색_날씨', '검색_미세먼지', '검색_황사', '읍면동별검색_생활', '읍면동별검색_관광',
               '읍면동별검색_쇼핑']

entrance_col = ['총계_월', '내국인전체_월', '외국인_월']

age = ['연령0020', '연령2030', '연령2040_rt','연령3040', '연령4060', '연령60이상']


# NA 확인
# 둘 다 없음

# column명 확인
# final_merged_by_day_v7
# base_col+time_col+pop_col+pop_col_korean+pop_col_foreign+weather_col+card_col+search_col+entrance_col+age
# final_merged_by_day_v7_7_8
# ["base_date","emd_nm"]+time_col+pop_col+weather_col+search_col+entrance_col+age

# mean_col
# weather_col + entrance_col + age + pop_col

In [21]:
fielapath = "./data"
dd = pd.read_csv(os.path.join(filepath,"final_merged_by_day_v7.csv"))
dd_78 = pd.read_csv(os.path.join(filepath,"final_merged_by_day_v7_7_8.csv"))

In [22]:
dd = dd[base_col+time_col+pop_col+pop_col_korean+pop_col_foreign+weather_col+card_col+search_col+entrance_col+age]
dd_78 = dd_78[["base_date","emd_nm"]+time_col+pop_col+weather_col+search_col+entrance_col+age]

In [23]:
check_NA(dd), check_NA(dd_78)

NA check
...There's no NA
NA check
...There's no NA

(None, None)

In [ ]:
weather_final = pd.read_csv(os.path.join(filepath,'final_merged_by_day_ver4.csv'))

In [123]:
dd = pd.read_csv(os.path.join(filepath,'final_merged_by_day_ver4.csv'))
dd_78 = pd.read_csv(os.path.join(filepath,'final_merged_by_day_ver4_7_8.csv'))
print(dd.shape, dd_78.shape)

(49609, 78) (2542, 39)

In [124]:
dd.columns

Index(['base_date', 'emd_nm', 'pay_amt', 'em_g', 'em_cnt', 'city', 'cluster',
       'holidays', 'korean_resd_pop', 'foreign_resd_pop', 'total_resd_pop',
       'foreign_resd_ratio', 'fam', 'pop_per_fam', 'popdens', 'resd_pop_cnt',
       'work_pop_jeju', 'work_pop_etc', 'visit_pop_jeju', 'visit_pop_etc',
       'visit_short', 'CHN_short', 'JPN_short', 'USA_short', 'CHN_ratio_short',
       'NotCHN_short', 'resd_jeju', 'country_1_all_jeju',
       'country_2_resd_jeju', 'country_2_visit_jeju', 'country_3_resd_jeju',
       'country_4_resd_jeju', 'country_7_all_jeju', 'country_3_all_etc', '강수',
       '기온', '습도', '풍속', '태풍', '유형1_cnt', '유형1_amt', '유형2_cnt', '유형2_amt',
       '유형3_cnt', '유형3_amt', '농축수산물_cnt', '농축수산물_amt', '배달_cnt', '배달_amt',
       '배달_ratio', '유형1_ratio', '유형2_ratio', '유형3_ratio', '농축수산물_ratio',
       '검색_관광', '검색_쇼핑', '검색_쓰레기', '검색_한파', '검색_강풍', '검색_태풍', '검색_장마', '검색_폭염',
       '검색_우박', '검색_날씨', '검색_미세먼지', '검색_황사', '읍면동별검색_생활', '읍면동별검색_관광',
       '읍면동별검색_쇼핑', '총계_월', '내국인전체_월', '외국인_월', '연령0020', '연령2030',
       '연령2040_rt', '연령3040', '연령4060', '연령60이상'],
      dtype='object')

In [125]:
dd = dd.drop(['강수','기온', '습도','풍속'], axis=1)
dd_78 = dd_78.drop(['강수','기온', '습도','풍속'], axis=1)
dd = pd.merge(dd, weather_final, on=['base_date','emd_nm'], how="left")
dd_78 = pd.merge(dd_78, weather_final, on=['base_date','emd_nm'], how="left")